@import 'helpers/variables';
@import 'helpers/mixins';
@import 'helpers/functions';
@import 'vendor/libs';
@import 'base/fonts';
@import 'base/general';
@import '../blocks/components/components';
@import '../blocks/modules/modules';

[data-component^='dropdown'] {
  .drop_list {
    display: none;
  }

  .drop_btn {
    &.active {
      + .drop_list {
        display: block;
      }
    }
  }
}

.button {
  padding: 10px 30px;
  font-size: 20px;
  background-color: cadetblue;
  border: none;
  border-radius: 5px;
  display: block;
  width: 200px;
  margin: 20px auto;
  cursor: pointer;
  color: #fff;
}

.out {
  text-align: center;
  font-size: 30px;
}

select {
  margin: 20px auto;
  display: block;
  font-size: 20px;
}

.lang {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 40px;
    height: 40px;
    background-color: black;
}
